@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";
@import "../../styles/typography.scss";

.container {
  display: flex;
  flex-direction: column;
  max-width: $bp-large;
  margin-bottom: 2rem;

  & h2 {
    font-size: $small-font-size;
    font-weight: 700;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 1rem;

  & span {
    font-size: 2rem;
    font-weight: 400;

    color: $main100;
  }

  & h2 {
    color: $dark;
  }
}

.content {
  display: flex;
  flex-direction: column;

  & p {
    font-size: $small-font-size;
    margin: 1rem 0;
  }

  & .children {
    margin-bottom: 2rem;
  }
}

.footer {
  align-self: flex-end;
  padding-top: 1rem;

  & h2 {
    color: $gray75;
  }
}

.children {
  align-self: center;
  width: 100%;

  padding-top: 1rem;
}

@media (min-width: $bp-medium) {
  .container {
    & h2 {
      font-size: $medium-font-size;
    }
  }

  .content {
    & p {
      font-size: $medium-font-size;
      margin: 2rem 0;
    }
  }
}

@media (min-width: $bp-large) {
  .container {
    & h2 {
      font-size: $large-font-size;
    }
  }
}
