@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";
@import "../../styles/typography.scss";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  max-height: 30px;

  & svg {
    max-height: 30px;
  }
}

.actions {
  & a {
    text-decoration: none;
    color: $dark;
    margin-left: 1.25rem;
  }
}

.content {
  overflow: hidden;
  flex: 1;
  margin-bottom: 2rem;
  & h1 {
    font-size: $medium-font-size;
    margin-bottom: 1rem;
    color: $gray100;
  }

  & p {
    font-size: $extra-small-font-size;
    line-height: 1.5rem;
    color: $gray100;
  }
}

.tags {
  & span {
    line-height: 3rem;
  }
}

.cardIcon {
  color: $main100;
}

@media (min-width: $bp-medium) {
  .tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    & span {
      margin-right: 1rem;
    }
  }
}

@media (min-width: $bp-large) {
  .content {
    & h1 {
      font-size: $medium-font-size;
    }
    & p {
      line-height: 2.5rem;
      font-size: $small-font-size;
    }
  }
}
