@import '../../styles/colors.scss';

.containerA {
  display: flex;
  justify-content: end;
  width: 35rem;
}

.line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;

  & div:first-child {
    border-bottom: 2px solid $main100;
  }
}

.itens {
  display: flex;
  justify-content: center;
  align-items: center;

  & a {
    margin-bottom: 1.25rem;
    text-decoration: none;
    color: $main100;
  }
}

.verticalText {
  margin-left: 0.5rem;

  & h3 {
    flex: 1;
    font-size: 1.5rem;
    font-weight: 400;
    color: $main100;
    white-space: nowrap;
    width: 100%;
  }
}

.verticalIcons {
  & svg {
    margin-left: 1.5rem;
  }
}

.rotateIcons {
  & svg {
    transform: rotate(90deg);
  }
}
