@import "../../styles/colors.scss";

.container {
  display: flex;
  margin: 1rem 0 3rem 0;
}

.left {
  justify-content: start;
}

.right {
  justify-content: end;
}

.center {
  justify-content: center;
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.listItem {
  & a {
    color: $dark;
    text-decoration: none;
    padding: 0 10px;
    font-size: 1.5rem;
    font-weight: 600;
    white-space: nowrap;
  }

  & span {
    color: $main100;
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
  }
}

.active {
  & span::after {
    content: "";
    position: absolute;
    bottom: -0.75rem;
    left: 0;
    right: -1.75rem;
    border-bottom: 2px solid $main100;
  }
}
